{
  "/" : {
    "path" : "/",
    "security" : {
      "module" : "EMBEDED",
      "config" : {
        "users" : [ {
          "username" : "admin",
          "password" : "pwd",
          "roles" : [ "admin" ]
        }, {
          "username" : "support",
          "password" : "pwd",
          "roles" : [ "support" ]
        }, {
          "username" : "user",
          "password" : "pwd"
        } ]
      },
      "classPath" : [ ]
    },
    "langFolder" : "${webswing.configDir}/lang",
    "homeDir" : "${user.dir}",
    "allowedCorsOrigins" : [ "*" ],
    "adminConsoleUrl" : "http://localhost:8080/admin"
  },
  "/rpos" : {
    "path" : "/rpos",
    "enabled" : true,
    "name" : "POS Demo",
    "restrictedResources" : [ ],
    "langFolder" : "",
    "security" : {
      "module" : "INHERITED",
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "icon" : "icon.png",
    "uploadMaxSize" : 5,
    "maxClients" : 100,
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "monitorEdtEnabled" : true,
    "recordingConsentRequired" : false,
    "mirroringConsentRequired" : false,
    "loadingAnimationDelay" : 2,
    "allowStealSession" : true,
    "autoLogout" : true,
    "dataStore" : {
      "module" : "INHERITED",
      "config" : { }
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : true,
      "sessionLogging" : false,
      "allowJsLink" : true,
      "javaFx" : true,
      "javaFxClassPathEntries" : [ "${webswing.rootDir}/apps/javafx/*.jar" ],
      "homeDir" : "/floreantpos",
      "theme" : "Murrine",
      "directdraw" : true,
      "debug" : true,
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : "",
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "com.floreantpos.main.Main"
      },
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "dockMode" : "ALL",
      "allowStatisticsLogging" : true,
      "testMode" : false,
      "jsLinkWhitelist" : [ "*" ],
      "transferDir" : "${user}/upload",
      "clearTransferDir" : true,
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}",
      "transparentFileSave" : true,
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "transparentFileOpen" : true,
      "fontConfig" : { },
      "classPathEntries" : [ "/floreantpos/target/floreantpos.jar" ]
    }
  }
}
